[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "external/sdl_image"]
	path = external/sdl_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d
